<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="automatico" value="Empty"/>
		<add key ="destacar" value="Empty"/>
		<add key="contem" value="Empty"/>
		<add key ="ip" value=""/>
	</appSettings>
</configuration>